<footer class="footer">
  <p>Copyright© 2013-{{year}}
    <a href="https://cern.ch/atlas">ATLAS</a> -
    <a href="https://www.cern.ch">CERN</a> -
    <a class="mail" href="mailto:Mark.Donszelmann@NOSPAM.cern.ch?subject=ATLAS OTP Documentation"><i class="fas fa-envelope"></i>&nbsp;ATLAS OTP</a>
  </p>
</footer>
