    <link rel="stylesheet" href="{{uiRootPath}}/css/vendor/fontawesome.css" >
    <link rel="stylesheet" href="{{uiRootPath}}/css/vendor/brands.css">
    <link rel="stylesheet" href="{{uiRootPath}}/css/vendor/solid.css">

    <link rel="stylesheet" href="{{uiRootPath}}/css/vendor/site-extra.css">
    <link rel="stylesheet" href="{{uiRootPath}}/css/vendor/search.css">
    <link rel="icon" href="{{siteRootPath}}/favicon.ico" type="image/x-icon">
